---
# stylesheet
# @author nabil freeman http://github.com/nabilfreeman
---

@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);

@mixin box-sizing($type){
	-webkit-box-sizing:$type;
	-moz-box-sizing:$type;
	-ms-box-sizing:$type;
	-o-box-sizing:$type;
	box-sizing:$type;
}

@mixin transform($command){
	-webkit-transform:$command;
	-moz-transform:$command;
	-ms-transform:$command;
	-o-transform:$command;
	transform:$command;
}

@mixin transition($length){
	-webkit-transition:$length;
	-moz-transition:$length;
	-ms-transition:$length;
	-o-transition:$length;
	transition:$length;
}

body{
	font-family:BlinkMacSystemFont, -apple-system, 'Roboto', 'Segoe UI', 'Inconsolata', 'Menlo', 'Ubuntu', 'Courier New', 'Courier', monospace;

	text-align:center;

	line-height:200%;

	margin:0px;
	padding:0px;

	letter-spacing: 0.5px;
	font-size: 18px;

	.container{
		margin:0 auto;
		max-width:720px;
		padding:0px 20px;
	}

	h1{
		margin-top:60px;
		font-size:180%;
	}
	
	small{
		color:#888;
	}

	a{
		color:#4000FF;
		font-weight:bold;

		&:visited{
			opacity:0.6;
		}

		&.huge{
			font-size:32px;
		}
	}

	img{
		max-width:160px;

		&.logo{
			margin-top:60px;
		}
	}

	.headline{
		position:relative;
		overflow:hidden;
		font-size:0px;

		video{
			position:absolute;
			top:50%;
			left:50%;
			@include transform(translateX(-50%) translateY(-50%));
			z-index:1;
			width:100%;
		}

		&:after{
			content:'';
			position:absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;

			z-index:2;

			background:rgba(0,0,0,0.4);
		}

		img.logo{
			position:relative;
			z-index:3;
			margin:60px 0px;
		}
	}

	.thumbs{
		padding:20px;
		font-weight:bold;
		text-align:center;
		font-size:0px;

		.thumbnail{
			display:inline-block;
			background:#4000FF;
			font-size:17px;
			margin:5px;
			width:240px;
			height:240px;
			text-align:left;
			vertical-align:middle;

			&:hover{
				a{
					text-decoration:underline;
				}
			}

			a{
				box-sizing:border-box;
				padding:20px;
				width:100%;
				height:100%;
				display:block;
				color:#FFF;
				text-decoration:none;
			}

			div{
				display:block;
				padding:10px 0px;
				color:#FFF;
			}

			&.video{
				width:auto;
				height:auto;
				text-align:center;

				a{
					padding:0px;
				}

				video{
					display:block;
					height:240px;
					width:240px;
				}
			}

			&.black{
				background:#000;
			}

			.title{
				font-size:24px;
			}

			.meta{
				padding:0px;
				font-size:15px;
				line-height:150%;
			}
		}
	}

	.app-links{
		font-size:0px;

		img{
			height:50px;
			max-width:99999px;
			margin-top:30px;
			margin-right:10px;
		}

		a:last-child img{
			margin-right:0px;
		}
	}

	footer{
		margin:60px 0px;
		color:#888;

		a{
			font-size:80%;
			color:#888;
			font-weight:normal;
		}
	}
	
	.freeman-email:after{
		content:'nabil@freemans.website';
	}

	.floating-head{
		position:fixed;
		bottom:10px;
		left:0px;
		width:200px;
		animation:jiggle 0.3s linear alternate infinite;

		@media screen and (max-width: 420px){
			width:100px;
		}

		@media screen and (max-width: 320px){
			width:80px;
		}
	}

	@keyframes jiggle{
		from{
			transform:rotate(-5deg) translateY(0px);
		}

		to{
			transform:rotate(5deg) translateY(10px);
		}
	}
}

@import "voternator-demo";
