---
title: Freeman Industries
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		<div class="container">
			<img class="logo" src="/img/freeman.svg">

			<h1>
				Freeman Industries
			</h1>

			<p>
				We build and iterate software for early stage technology companies.
			</p>

			<p>
				What we are about: UX-first design, quality code and NO BS.
			</p>
			
			<h1>
				Rates and Charges
			</h1>
			
			<p>
				Planning & Consulation: <strong>Free</strong>
			</p>
			
			<p>
				Design & Development: <strong>£50 / hour</strong>
			</p>
			
			<p>
				<small>
					We currently offer a 25% discount on 8 hour blocks - £300 for an 8 hour day.
				</small>
			</p>

			<h1>
				Explore Our Work
			</h1>
		</div>

		<p>
			<div class="thumbs">
				{% include thumbnail.html 
					title="LeSalon" 
					slug="lesalon" 
				%}
				
				{% include thumbnail.html 
					title="Papertrail for Mobile" 
					slug="papertrail-mobile" 
				%}
				
				{% include thumbnail.html 
					title="Tippler" 
					slug="tippler" 
				%}
				
				{% include thumbnail.html 
					title="Receptive" 
					slug="receptive" 
				%}
				
				{% include thumbnail.html 
					title="Emojify" 
					slug="emojify" 
				%}
				
				{% include thumbnail.html 
					title="Papertrail for Web" 
					slug="papertrail" 
				%}
				
				{% include thumbnail.html 
					title="EmberWatch" 
					slug="emberwatch" 
				%}
				
				{% include thumbnail.html 
					title="Deck of Cards Workout" 
					slug="deck-of-cards-workout" 
				%}
				
				{% include thumbnail.html 
					title="Famous Workouts" 
					slug="famous-workouts" 
				%}
			</div>
		</p>

		<script>
			if(document.body.clientWidth > 716){
				var thumbnails = document.querySelectorAll(".thumbnail");

				thumbnails.forEach(function(thumbnail){
					thumbnail.querySelector("video").play();
				})
			}
		</script>

		{% include footer.html %}

	</body>
</html>
