---
title: Freeman Industries
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html title=page.title %}
	</head>

	<body>

		<div class="container">
			<img class="logo" src="/img/freeman.svg">

			<h1>
				Freeman Industries
			</h1>

			<p>
				We build and iterate MVPs for disruptive startups.
			</p>

			<p>
				What we are about: UX-first design, quality code and NO BS.
			</p>

			<h1>
				Our Work
			</h1>
		</div>

		<p>
			<div class="thumbs">
				{% include thumbnail.html 
					title="LeSalon" 
					slug="lesalon" 
				%}
				
				{% include thumbnail.html 
					title="Papertrail for Mobile" 
					slug="papertrail-mobile" 
				%}
				
				{% include thumbnail.html 
					title="Tippler" 
					slug="tippler" 
				%}
				
				{% include thumbnail.html 
					title="Receptive" 
					slug="receptive" 
				%}
				
				{% include thumbnail.html 
					title="Emojify" 
					slug="emojify" 
				%}
				
				{% include thumbnail.html 
					title="Papertrail for Web" 
					slug="papertrail" 
				%}
				
				{% include thumbnail.html 
					title="EmberWatch" 
					slug="emberwatch" 
				%}
				
				{% include thumbnail.html 
					title="Deck of Cards Workout" 
					slug="deck-of-cards-workout" 
				%}
				
				{% include thumbnail.html 
					title="Famous Workouts" 
					slug="famous-workouts" 
				%}
				
				{% include thumbnail.html 
					title="The Voternator" 
					slug="voternator" 
				%}
			</ul>
		</p>

		{% include footer.html %}

	</body>
</html>
