<meta name="charset" content="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<meta property="og:title" content="Freeman Industries" />
<meta property="og:description" content="We build and iterate software for early stage technology companies." />
<meta property="og:url" content="http://www.freemans.website" />
<meta property="og:image" content="http://www.freemans.website/img/explore.jpg" />

<link rel="stylesheet" href="/css/main.css">

<title>
	{{ page.title }}
</title>

<script src="/js/main.js"></script>