---
# stylesheet
# @author nabil freeman http://github.com/nabilfreeman
---

.voternator-demo{

	.colour_selector{
		button{
			width:30px;
			height:30px;
			border:none;
			display:inline-block;
			outline:none;
		}
	}

}
