---
title: EmberWatch - Everything you need to know about Ember.js
slug: emberwatch

link: http://www.emberwatch.com
source: https://github.com/emberwatch/emberwatch
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html title=page.title %}
	</head>

	<body>

		{% include headline.html slug=page.slug %}

		<div class="container">

			<h1>
				EmberWatch
			</h1>

			<p>
				EmberWatch is an information resource dedicated to the popular Javascript framework Ember.js.
			</p>

			<p>
				Our goal was to make the website more useful to its visitors and to increase its popularity.
			</p>

			<p>
				We redesigned the site, added some cool features like inline video and made the books section more visually accessible.
			</p>

			{% include links.html %}

		</div>

		{% include footer.html %}

	</body>
</html>
