---
title: LeSalon - Professional nailcare in the comfort of your home
slug: lesalon

link: http://www.lesalonapp.com
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		{% include headline.html %}

		<div class="container">

			<h1>
				LeSalon
			</h1>

			<p>
				This on-demand service lets you book manicures and pedicures by trained professionals in the comfort of your own home.
			</p>

			<p>
				We designed and implemented a new booking process, where we aimed to eliminate confusion and save users time at every stage in the booking.
			</p>

			<p>
				As a fast-moving startup, LeSalon had also accrued a lot of technical debt that we helped them eliminate from their Meteor app.
			</p>

			<p>
				Make a booking here:
			</p>
			
			{% include links.html %}
			
		</div>

		{% include footer.html %}

	</body>
</html>
