---
title: Papertrail for Web - The future of statutory safety inspections
slug: papertrail

link: http://www.papertrail.io
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html title=page.title %}
	</head>

	<body>

		{% include headline.html slug=page.slug %}

		<div class="container">

			<h1>
				Papertrail for Web
			</h1>

			<p>
				Papertrail is a SaaS app that makes it easy for companies to keep track of their mandatory equipment inspections. 
			</p>

			<p>
				We successfully implemented a redesign of their web app over a two-month period, and the app has been handed over to and iterated upon many times since then by their in-house dev team.
			</p>

			{% include links.html %}
			
		</div>

		{% include footer.html %}

	</body>
</html>
