---
title: Receptive - Intelligent feature management for your SaaS product
slug: receptive

link: http://www.receptive.io
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html title=page.title %}
	</head>

	<body>

		{% include headline.html slug=page.slug %}

		<div class="container">

			<h1>
				Receptive
			</h1>

			<p>
				Receptive makes it easy to get product feedback from your users, and then tells you what features to build next into your app.
			</p>

			<p>
				We gave the whole app a lick of paint to take it from MVP to polished product. The team were very pleased with the new look!
			</p>

			<p>
				If you run a SaaS app with paying customers, this product is for you.
			</p>

			{% include links.html %}
			
		</div>

		{% include footer.html %}

	</body>
</html>
