---
title: Deck of Cards Workout - Fun bodyweight workouts for any location
slug: deck-of-cards-workout

link: http://deckofcards.instafork.com
ios: https://itunes.apple.com/app/deck-cards-workout-lose-weight/id1016007666
android: https://play.google.com/store/apps/details?id=com.nabilfreeman.androidstudiowebviewboilerplate&hl=en
source: http://github.com/nabilfreeman/deck-of-cards-workout
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		{% include headline.html %}

		<div class="container">

			<h1>
				Deck of Cards Workout
			</h1>

			<p>
				This is a card game that randomly puts together a workout for you based on bodyweight exercises and a deck of cards.
			</p>

			<p>
				At Freeman Industries we all have some personal experience with the difficulty of weight loss, so this project combined with <a href="/work/famous-workouts.html">Famous Workouts</a> is our shot at getting people to think more about fitness.
			</p>
			
			<p>
				Try it below:
			</p>

			{% include links.html %}
			
		</div>

		{% include footer.html %}

	</body>
</html>
