---
title: Emojify - decorate your photos with 1000+ emoji!
slug: emojify

ios: https://itunes.apple.com/app/emojify-add-1000+-emoji-to/id1050745794
source: https://github.com/freeman-industries/emojify
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		{% include headline.html %}

		<div class="container">

			<h1>
				Emojify
			</h1>

			<p>
				Filters are boring... Now there's a new way to add some fun to your photos! Emojify makes it easy to quickly add emoji to your photos and share them with your friends.
			</p>

			<p>
				We created and launched Emojify as an exercise in building, shipping and promoting a free iOS app from scratch.
			</p>

			<p>
				6 months after release, we have achieved 25,000 installs, trended on Reddit and Product Hunt and have been part of minor press features in Wales and The Netherlands.
			</p>

			{% include links.html %}
			
		</div>

		{% include footer.html %}

	</body>
</html>
