---
title: Papertrail for Mobile - Statutory record-keeping on the go
slug: papertrail-mobile

ios: https://itunes.apple.com/app/papertrail/id1148113321
android: https://play.google.com/store/apps/details?id=mobi.cemas.io.papertrail_android
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		{% include headline.html %}

		<div class="container">

			<h1>
				Papertrail for Mobile
			</h1>

			<p>
				After the successful rebuild of their web app, Papertrail came back to us for Round 2 - their iOS and Android apps.
			</p>

			<p>
				They already had the MVPs rolled out and functioning, but wanted to add several new features like barcode scanning that would make it easier for their customers to carry out statutory equipment inspections in outdoor areas where internet connections are patchy.
			</p>

			<p>
				We helped them implement new features, add tablet support, activity monitoring and crash detection (Sentry & Fabric), code refactoring and finally an app-wide design iteration that took the mobile experience to the same level as their web app.
			</p>

			{% include links.html %}
			
		</div>

		{% include footer.html %}

	</body>
</html>
