---
title: LeSalon - Professional nailcare in the comfort of your home
slug: lesalon

link: https://lesalonapp.com
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		{% include headline.html %}

		<div class="container">

			<h1>
				LeSalon
			</h1>

			<p>
				This on-demand service lets you book manicures and pedicures by trained professionals in the comfort of your own home.
			</p>

			<p>
				LeSalon approached us in 2015, with a product in need of serious work. They had moved fast with their product, but had accrued a lot of technial debt along the way - this finally reached a point where they could not progress any further without serious engineering across their whole stack.
			</p>
			
			<p>
				Freeman Industries migrated their Rails API to Node.js, rebuilding every aspect of it along the way - improved functionality and more than 75% code coverage in tests.
			</p>
			
			<p>
				We have also done a lot of work on their Meteor web app, eliminating bugs, improving performance and loads of visual & UX work.
			</p>

			<p>
				Make a booking here:
			</p>
			
			{% include links.html %}
			
		</div>

		{% include footer.html %}

	</body>
</html>
